.org-src-container {
  color: #c0c5ce;
  background-color: #1b2b34;
}

.org-builtin {
  /* font-lock-builtin-face */
  color: #5fb3b3;
}

.org-comment {
  /* font-lock-comment-face */
  color: #65737e;
}

.org-comment-delimiter {
  /* font-lock-comment-delimiter-face */
  color: #4f5b66;
}

.org-css-property {
  /* css-property */
  color: #ec5f67;
}

.org-css-selector {
  /* css-selector */
  color: #6699cc;
}

.org-diff-added {
  /* diff-added */
  color: #99c794;
}

.org-diff-context {
  /* diff-context */
  color: #dddddd;
}

.org-diff-indicator-added {
  /* diff-indicator-added */
  color: #99c794;
}

.org-diff-indicator-removed {
  /* diff-indicator-removed */
  color: #ec5f67;
}

.org-diff-removed {
  /* diff-removed */
  color: #ec5f67;
}

.org-doc {
  /* font-lock-doc-face */
  color: #a7adba;
}

.org-function-name {
  /* font-lock-function-name-face */
  color: #6699cc;
}

.org-keyword {
  /* font-lock-keyword-face */
  color: #c594c5;
}

.org-rainbow-delimiters-depth-1 {
  /* rainbow-delimiters-depth-1-face */
  color: #c594c5;
}

.org-rainbow-delimiters-depth-2 {
  /* rainbow-delimiters-depth-2-face */
  color: #6699cc;
}

.org-rainbow-delimiters-depth-3 {
  /* rainbow-delimiters-depth-3-face */
  color: #5fb3b3;
}

.org-rainbow-delimiters-depth-4 {
  /* rainbow-delimiters-depth-4-face */
  color: #99c794;
}

.org-rainbow-delimiters-depth-5 {
  /* rainbow-delimiters-depth-5-face */
  color: #fac863;
}

.org-rainbow-delimiters-depth-6 {
  /* rainbow-delimiters-depth-6-face */
  color: #f99157;
}

.org-regexp-grouping-backslash {
  /* font-lock-regexp-grouping-backslash */
  color: #fac863;
}

.org-regexp-grouping-construct {
  /* font-lock-regexp-grouping-construct */
  color: #c594c5;
}

.org-sh-escaped-newline {
  /* sh-escaped-newline */
  color: #99c794;
}

.org-string {
  /* font-lock-string-face */
  color: #99c794;
}

.org-type {
  /* font-lock-type-face */
  color: #fac863;
}

.org-variable-name {
  /* font-lock-variable-name-face */
  color: #ec5f67;
}

.org-shinning {
  /* shinning-face */
  color: #ff0000;
  background-color: #ffffff;
}